#footer {
    background-color: black;
    color: #fff;
}

#myfirstcontainer h1 {
    text-align: center;

    color: hwb(35 2% 4%);
    padding-top: 15%;
    padding-bottom: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.nav-item a:hover {
    border-bottom: 2px solid rgb(103, 242, 10);
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.col-auto img {
    height: 82px;
    width: 180px;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
#myfirstcontainer {
    background-image: url(soil1.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100%;
    transition: all 3s 2s;
    background-size: 100%;

}